.todo-date {
  color: darkcyan;
  left: 20px;
}

h5 {
  padding-left: 100px;
}

.new-discription {
  padding-left: 100px;
  overflow: hidden;
  width: 70%;
  height: 30px;
}

.icon-delete {
  display: block;
  font-size: 35px;
  cursor: pointer;
  color: rgb(4, 195, 200);
}

.icon-delete:hover {
  color: red;
}

.icon-update {
  cursor: pointer;
  font-size: 25px;
  color: green;
}

.icon-update:hover {
  color: red;
}
